@model string

<div class="modal fade" id="deleteData" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="text-align: center" class="modal-title">Delete data from project</h4>
            </div>
            <div class="modal-body">
                <p>
                    Do you really want to delete <strong>@Model</strong> data from this project?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="RemoveData(@ViewBag.ProjectId, '@Model')" class="btn btn-success button-narrow">Yes</button>
                <button type="button" class="btn btn-info button-narrow" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#deleteData').modal('show');

    function RemoveData(projectId, configurationName) {
        var apiUrl = "/customData/" + projectId + "/" + configurationName;
        $.ajaxLoading({
            url: apiUrl,
            type: 'DELETE',
            cache: false,
            statusCode: {
                200: function(data) {
                    location.reload();
                }
            }
        });
    };
</script>