@model ProjectWithCustomDataModel

<div class="modal fade" id="editUserCustomDataModalWindow" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="text-align: left" class="modal-title">Configure data</h4>
            </div>
            <div class="modal-body">
                @if (!Model.ProjectCustomData.Any())
                {
                    <div>There are no custom data configured for this project.</div>
                }
                else
                {
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <strong>Select data for user</strong>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var configuration in Model.ProjectCustomData)
                            {
                                <li><a href="#" onclick="MakeRequest('@configuration.ConfigurationType','@configuration.ConfigurationName',@Model.Id, @ViewBag.UserId)">@configuration.ConfigurationName</a></li>
                            }
                        </ul>
                    </div>
                    <div>
                        <div id="editUserDataPartialModalWindow" style="margin-top: 15px;">
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-info button-narrow" id="closeModalButton">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#closeModalButton').click(function() {
        $('#editUserCustomDataModalWindow').modal('hide');
    });
    $('#editUserCustomDataModalWindow').modal('show');
    $(".dropdown-menu li a")
            .click(
                function () {
                    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
                });
    function MakeRequest(configurationType,configurationName,projectId,userId)
    {
        var apiUrl = "/customData/getUserPartialView";
        var data = {
            configurationType:configurationType,
            configurationName: configurationName,
            projectId: projectId,
            userId: userId
        };
        $.ajaxLoading({
            url: apiUrl,
            type: 'GET',
            data: data,
            success: function(data){
                $('#editUserDataPartialModalWindow').html(data);
                $('#editUserDataPartialModalWindow').find("script").each(function (i) {
                    eval($(this).text());
                });
                $('#editUserDataPartialModalWindow').find("link").each(function (i) {
                    eval($(this).text());
                });
            }


        });
    }
</script>
