@model ChangingPasswordUser

<link href="~/css/site.css" rel="stylesheet"/>
@using (Html.BeginForm("ChangePassword" , "Account" , new {login = ViewBag.UserName} , FormMethod.Post))
{
    <div id="login" style="padding-left: inherit">

        <div class="col-md-offset-4 col-md-10" style="align-items: center">
            <p style="font-size: 30px; padding-top: 70px">Changing password</p>

            <div>
                <strong>Old password:</strong> @Html.EditorFor(model => model.Password , new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>

        <div class="col-md-offset-4 col-md-10">

            <div>
                <strong>New password:</strong> @Html.EditorFor(model => model.NewPassword , new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
        <div class="col-md-offset-4 col-md-10">
            <div>
                <strong>Confirm new password:</strong> @Html.EditorFor(model => model.ConfirmNewPassword , new {htmlAttributes = new {@class = "form-control"}})<br/>
            </div>
        </div>
        <div>
            <div class="col-md-offset-4 col-md-10">

                <input type="submit" value="Change password" class="btn btn-success" style="height: 40px; max-width: 280px; width: 280px;"/>

                <br/>
            </div>
        </div>
    </div>
}