@using System.Threading.Tasks
@using Fingo.Auth.DbAccess.Models.Policies.Enums
@model Fingo.Auth.Domain.Policies.ConfigurationClasses.ExcludeCommonPasswordsConfiguration

<div class="panel panel-success" style="margin-top:15px; margin-bottom:0">
    <div class="panel-heading"><strong>Set exclude common passwords policy</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("ExcludeCommonPasswordsPolicy", "Policy", new { policy = Policy.ExcludeCommonPasswords, projectId = ViewData["projectId"] }, FormMethod.Post, null, null))
        {
            <div>
                To enable policy click "Save".
            </div>
            <button type="submit" class="btn btn-success pull-right button-narrow">Save</button>
        }
    </div>
</div>