@using System.Threading.Tasks
@using Fingo.Auth.DbAccess.Models.Policies.Enums
@model Fingo.Auth.Domain.Policies.ConfigurationClasses.MinimumPasswordLengthConfiguration

<div class="panel panel-success" style="margin-bottom: 0; margin-top: 15px;">
    <div class="panel-heading">
        <strong>Set minimum password length</strong>
    </div>
    <div class="alert alert-info small" role="alert" id="minPassLengAlert" style="display: none; margin-bottom: 0">
        <strong>Information!</strong> CurrentValue should be between 5 and 50.
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SaveMinimumPasswordLengthPolicy" , "Policy" , new {policy = Policy.MinimumPasswordLength , projectId = ViewData["projectId"]} , FormMethod.Post , null , new {id = "minPasswordLengthForm"}))
        {
            <div style="margin-left: 3px; max-width: 200px;">
                @Html.TextBoxFor(m => m.Length , null , new {id = "minPassLengInput" , placeholder = "Choose value between 5 and 50." , type = "number"})
            </div>
            <button type="submit" class="btn btn-success pull-right button-narrow">Save</button>
        }
    </div>
</div>

<script>
    $('#minPasswordLengthForm')
        .submit(function(event) {
            if ($('#minPassLengInput').val() >= 5 && $('#minPassLengInput').val() <= 50) {
                return;
            }
            $("#minPassLengAlert").show();
            event.preventDefault();
        });
</script>