@using System.Threading.Tasks
@model Fingo.Auth.DbAccess.Models.Policies.Enums.Policy

<div class="modal fade" id="policyModalWindow" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="text-align: left" class="modal-title">Edit policy</h4>
            </div>
            <div class="modal-body">
                <div id="policyModalWindowsContainer">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info button-narrow" id="closeModalButton">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#closeModalButton')
        .click(function() {
            $('#policyModalWindow').modal('hide');
        });
    $('#policyModalWindow').modal('show');
    $(document)
        .ready(
            function() {
                var apiUrl = "/policy/{policyOption}/{projectId}";
                apiUrl = apiUrl.replace("{policyOption}", '@Model');
                apiUrl = apiUrl.replace("{projectId}", @ViewData["projectId"]);
                $.ajaxLoading({
                    url: apiUrl,
                    type: 'GET',
                    success: function(data) {
                        $('#policyModalWindowsContainer').html(data);
                        $('#policyModalWindowsContainer')
                            .find("script")
                            .each(function(i) {
                                eval($(this).text());
                            });
                        $('#policyModalWindowsContainer')
                            .find("link")
                            .each(function(i) {
                                eval($(this).text());
                            });
                    }
                });
            });
</script>