body {
    overflow-y: scroll;
    padding-bottom: 20px;
    padding-top: 50px;
}

#loadingDiv {
    background: rgba(255, 255, 255, .8)
                url('/images/loading.gif')
                50% 50%
                no-repeat;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body.loading { overflow: hidden; }

body.loading #loadingDiv { display: block; }

body.error { background-color: rgba(255, 150, 150, .8); }

#login {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea { max-width: 280px; }

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }



.cell { height: 51px; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none }
}

body.modal-open {
    overflow-y: scroll !important;
    padding-right: 0 !important;
    position: fixed !important;
    width: 100% !important;
}

.panel-heading h3 {
    line-height: normal;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
}

.zeroPadding { padding: 0 !important; }

.sort {
    background-image: url("../images/sort_neutral.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 20px;
}

.desc {
    background-image: url('../images/sort_down.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 20px;
}

.asc {
    background-image: url('../images/sort_up.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 20px;
}

.button-wide { width: 150px; }

.button-narrow { width: 100px; }